@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #007bff;
    font-family: 'Audiowide', cursive;
}

.container {
    margin: 10vh auto;
    width: 80%;
    max-width: 500px;
    height: 100%;
    max-height: 80vh;
    padding: 2em 1.5em;
    border-radius: 5px;
    overflow-y: scroll;
    background: hsla(0, 0%, 100%, .5);
}

.task-form {
    height: 2em;
    text-align: center;
    line-height: 1.4px;
}

input[type="text"] {
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: .5em;
}

button[type="submit"] {
    height: 1.3em;
    margin-left: 5px;
    border: none;
    outline: none;
    color: #fff;
    vertical-align: middle;
    border-radius: 5px;
    background: #007bff;
    cursor: pointer;
}

button[type="submit"]:active {
    box-shadow: inset 0 0 5px #000;
}

.task-list {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    list-style: none;
}

.task {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 1em .5em;
    background: #fff;
}

.task>span {
    float: right;
}